In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("diamonds.csv")
df.head()

   id  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [42]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,id,carat,cut,color,clarity,depth,table,price,x,y,z
0,15566,1.06,Ideal,G,VS2,61.8,57.0,6240,6.56,6.52,4.04
1,23810,1.70,Good,H,SI1,63.9,56.0,11869,7.61,7.53,4.84
2,12841,1.03,Very Good,G,SI1,59.4,60.0,5353,6.61,6.66,3.94
3,20873,1.14,Ideal,G,VS1,61.8,57.0,9090,6.67,6.70,4.12
4,3287,0.91,Premium,H,SI2,62.7,58.0,3363,6.17,6.14,3.86

In [43]:
df = df.drop(["id"], 1)
df.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.06      Ideal     G     VS2   61.8   57.0   6240  6.56  6.52  4.04
1   1.70       Good     H     SI1   63.9   56.0  11869  7.61  7.53  4.84
2   1.03  Very Good     G     SI1   59.4   60.0   5353  6.61  6.66  3.94
3   1.14      Ideal     G     VS1   61.8   57.0   9090  6.67  6.70  4.12
4   0.91    Premium     H     SI2   62.7   58.0   3363  6.17  6.14  3.86

In [44]:
validation_split = df.loc[round(len(df)*0.8)+1:]
training_split = df.loc[:round(len(df)*0.8)]

len(df), len(validation_split), len(training_split)

(53940, 10787, 43153)

In [45]:
whole = df.to_csv("diamonds_whole.csv", index=False)
validation_split.to_csv("diamonds_validation.csv", index=False)
training_split.to_csv("diamonds_training.csv", index=False)

## Basic Preprocessing

In [50]:
df = pd.read_csv("diamonds_whole.csv")
validation_split = pd.read_csv("diamonds_validation.csv")
training_split = pd.read_csv("diamonds_training.csv")

In [51]:
#Replace values in cut
df = df.replace(to_replace ="Fair", value = 1)
df = df.replace(to_replace ="Good", value = 2)
df = df.replace(to_replace ="Very Good", value = 3)
df = df.replace(to_replace ="Premium", value = 4)
df = df.replace(to_replace ="Ideal", value = 5)
print(df["cut"].unique())

training_split = training_split.replace(to_replace ="Fair", value = 1)
training_split = training_split.replace(to_replace ="Good", value = 2)
training_split = training_split.replace(to_replace ="Very Good", value = 3)
training_split = training_split.replace(to_replace ="Premium", value = 4)
training_split = training_split.replace(to_replace ="Ideal", value = 5)
print(training_split["cut"].unique())

validation_split = validation_split.replace(to_replace ="Fair", value = 1)
validation_split = validation_split.replace(to_replace ="Good", value = 2)
validation_split = validation_split.replace(to_replace ="Very Good", value = 3)
validation_split = validation_split.replace(to_replace ="Premium", value = 4)
validation_split = validation_split.replace(to_replace ="Ideal", value = 5)
print(validation_split["cut"].unique())

[5 2 3 4 1]
[5 2 3 4 1]
[3 4 5 2 1]

In [52]:
df = df.replace(to_replace ="J", value = 1)
df = df.replace(to_replace ="I", value = 2)
df = df.replace(to_replace ="H", value = 3)
df = df.replace(to_replace ="G", value = 4)
df = df.replace(to_replace ="F", value = 5)
df = df.replace(to_replace ="E", value = 6)
df = df.replace(to_replace ="D", value = 7)
print(df["color"].unique())

training_split = training_split.replace(to_replace ="J", value = 1)
training_split = training_split.replace(to_replace ="I", value = 2)
training_split = training_split.replace(to_replace ="H", value = 3)
training_split = training_split.replace(to_replace ="G", value = 4)
training_split = training_split.replace(to_replace ="F", value = 5)
training_split = training_split.replace(to_replace ="E", value = 6)
training_split = training_split.replace(to_replace ="D", value = 7)
print(training_split["color"].unique())

validation_split = validation_split.replace(to_replace ="J", value = 1)
validation_split = validation_split.replace(to_replace ="I", value = 2)
validation_split = validation_split.replace(to_replace ="H", value = 3)
validation_split = validation_split.replace(to_replace ="G", value = 4)
validation_split = validation_split.replace(to_replace ="F", value = 5)
validation_split = validation_split.replace(to_replace ="E", value = 6)
validation_split = validation_split.replace(to_replace ="D", value = 7)
print(validation_split["color"].unique())

[4 3 2 5 6 7 1]
[4 3 2 5 6 7 1]
[6 3 2 4 7 5 1]

In [53]:
df = df.replace(to_replace ="I1", value = 1)
df = df.replace(to_replace ="SI2", value = 2)
df = df.replace(to_replace ="SI1", value = 3)
df = df.replace(to_replace ="VS2", value = 4)
df = df.replace(to_replace ="VS1", value = 5)
df = df.replace(to_replace ="VVS2", value = 6)
df = df.replace(to_replace ="VVS1", value = 7)
df = df.replace(to_replace ="IF", value = 8)
print(df["clarity"].unique())

training_split = training_split.replace(to_replace ="I1", value = 1)
training_split = training_split.replace(to_replace ="SI2", value = 2)
training_split = training_split.replace(to_replace ="SI1", value = 3)
training_split = training_split.replace(to_replace ="VS2", value = 4)
training_split = training_split.replace(to_replace ="VS1", value = 5)
training_split = training_split.replace(to_replace ="VVS2", value = 6)
training_split = training_split.replace(to_replace ="VVS1", value = 7)
training_split = training_split.replace(to_replace ="IF", value = 8)
print(training_split["clarity"].unique())

validation_split = validation_split.replace(to_replace ="I1", value = 1)
validation_split = validation_split.replace(to_replace ="SI2", value = 2)
validation_split = validation_split.replace(to_replace ="SI1", value = 3)
validation_split = validation_split.replace(to_replace ="VS2", value = 4)
validation_split = validation_split.replace(to_replace ="VS1", value = 5)
validation_split = validation_split.replace(to_replace ="VVS2", value = 6)
validation_split = validation_split.replace(to_replace ="VVS1", value = 7)
validation_split = validation_split.replace(to_replace ="IF", value = 8)
print(validation_split["clarity"].unique())

[4 3 5 2 7 6 8 1]
[4 3 5 2 7 6 8 1]
[2 3 4 7 5 6 1 8]

In [54]:
df.to_csv("diamonds_whole_pp_1.csv", index=False)
training_split.to_csv("diamonds_tr_pp_1.csv", index=False)
validation_split.to_csv("diamonds_val_pp_1.csv", index=False)

In [55]:
train = training_split.loc[:round(len(training_split)*0.8)]
test = training_split.loc[round(len(training_split)*0.8)+1:]
len(training_split), len(train), len(test)

(43153, 34523, 8630)

In [56]:
train.to_csv("diamonds_tr_80_pp_1.csv", index=False)
test.to_csv("diamonds_tr_20_pp_1.csv", index=False)

## Split boxcox, center and scale

In [57]:
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   1.06    5      4        4   61.8   57.0   6240  6.56  6.52  4.04
1   1.70    2      3        3   63.9   56.0  11869  7.61  7.53  4.84
2   1.03    3      4        3   59.4   60.0   5353  6.61  6.66  3.94
3   1.14    5      4        5   61.8   57.0   9090  6.67  6.70  4.12
4   0.91    4      3        2   62.7   58.0   3363  6.17  6.14  3.86

In [93]:
whole_pp_2 = pd.read_csv("diamonds_whole_pp_2.csv") 
whole_pp_2.head()

,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.774991,1.065862,-0.238552,0.112918,0.028378,-0.154726,6240,0.738877,0.687725,0.710312
1,1.582681,-1.590193,-0.826406,-0.553524,1.510677,-0.638827,11869,1.674905,1.572034,1.843940
2,0.725899,-0.934706,-0.238552,-0.553524,-1.629018,1.155174,5353,0.783449,0.810302,0.568608
3,0.899402,1.065862,-0.238552,0.670949,0.028378,-0.154726,9090,0.836937,0.845324,0.823675
4,0.514094,-0.047126,-0.826406,-1.400327,0.660009,0.304552,3363,0.391209,0.355014,0.455245

In [94]:
pp_2_validation_split = whole_pp_2.loc[round(len(whole_pp_2)*0.8)+1:]
pp_2_training_split = whole_pp_2.loc[:round(len(whole_pp_2)*0.8)]

len(whole_pp_2), len(pp_2_validation_split), len(pp_2_training_split)

(53940, 10787, 43153)

In [95]:
pp_2_training_split.to_csv("diamonds_tr_pp_2.csv", index=False)
pp_2_validation_split.to_csv("diamonds_val_pp_2.csv", index=False)

In [96]:
pp_2_train = pp_2_training_split.loc[:round(len(pp_2_training_split)*0.8)]
pp_2_test = pp_2_training_split.loc[round(len(pp_2_training_split)*0.8)+1:]
len(training_split), len(pp_2_train), len(pp_2_test)

(43153, 34523, 8630)

In [97]:
pp_2_train.to_csv("diamonds_tr_80_pp_2.csv", index=False)
pp_2_test.to_csv("diamonds_tr_20_pp_2.csv", index=False)

## Split PCA into sets

In [98]:
pca = pd.read_csv("diamonds_whole_pca.csv")
pca.head()

        PC1       PC2       PC3       PC4       PC5  price
0 -1.243133  1.090846 -0.561662  0.119137  0.136801   6240
1 -3.523021  0.478562  1.897922 -0.595601  0.461506  11869
2 -1.768776 -1.517015 -1.219508 -0.074397 -0.238739   5353
3 -1.347395  1.238095 -0.720219 -0.131200  0.638894   9090
4 -1.315239 -0.040860  0.747908 -0.071690 -1.204948   3363

In [99]:
pca_validation_split = pca.loc[round(len(pca)*0.8)+1:]
pca_training_split = pca.loc[:round(len(pca)*0.8)]

len(pca), len(pca_validation_split), len(pca_training_split)

(53940, 10787, 43153)

In [100]:
pca_training_split.to_csv("diamonds_tr_pca.csv", index=False)
pca_validation_split.to_csv("diamonds_val_pca.csv", index=False)

In [101]:
pca_train = pca_training_split.loc[:round(len(pca_training_split)*0.8)]
pca_test = pca_training_split.loc[round(len(pca_training_split)*0.8)+1:]
len(pca_training_split), len(pca_train), len(pca_test)

(43153, 34523, 8630)

In [102]:
pca_train.to_csv("diamonds_tr_80_pca.csv", index=False)
pca_test.to_csv("diamonds_tr_20_pca.csv", index=False)